/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0; }

/**
 * Basic styling
 */
body {
  font: 400 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #111;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal; }

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
.highlight {
  margin-bottom: 20px; }

/**
 * Dividing line
 */
hr {
  border: 0;
  border-bottom: 1px dashed #cfcfcf;
  margin: 30px 0; }

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle; }

/**
 * Figures
 */
figure > img {
  display: block; }

figcaption {
  font-size: 14px; }

/**
 * Lists
 */
ul, ol {
  margin-left: 30px; }

li > ul,
li > ol {
  margin-bottom: 0; }

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: 400; }

/**
 * Links
 */
a {
  color: #2a7ae2;
  text-decoration: none; }
  a:visited {
    color: #1756a9; }
  a:hover {
    color: #111; }

/**
 * Blockquotes
 */
blockquote {
  border-left: 10px solid #D6DBDF;
  padding: 0 1em;
  font-size: 18px;
  color: #777; }
  blockquote > :last-child {
    margin-bottom: 0; }

/**
 * Code formatting
 */
pre,
code {
  font-family: Monaco, Consolas, "Courier New";
  font-size: 15px;
  border: 1px solid #eee; }

code {
  padding: 1px 5px;
  border-radius: 3px;
  background: #eee; }

pre {
  padding: 8px 12px;
  overflow-x: auto;
  border-radius: 4px;
  background: #eee; }
  pre > code {
    border: 0;
    padding-right: 0;
    padding-left: 0; }

/**
 * Table formatting
 */
table {
  border: 1px solid #ddd;
  border-collapse: separate;
  border-radius: 4px;
  border-spacing: 0;
  width: 100%;
  margin-bottom: 20px; }
  table tbody tr:nth-child(2n+1) {
    background-color: #eee; }
  table th {
    padding: 8px;
    line-height: 20px;
    text-align: left;
    border-top: 0;
    vertical-align: bottom; }
    table th:not(:last-child) {
      border-right: 1px solid #ddd; }
    table th:first-child {
      border-top-left-radius: 4px; }
  table td {
    padding: 8px;
    line-height: 20px;
    text-align: left;
    border-top: 1px solid #ddd; }
    table td:not(:last-child) {
      border-right: 1px solid #ddd; }

/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(1200px - (30px * 2));
  max-width: calc(1200px - (30px * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px; }
  @media screen and (max-width: 1200px) {
    .wrapper {
      max-width: -webkit-calc(1200px - 30px - 300px);
      max-width: calc(1200px - 30px - 300px);
      padding-right: 30px;
      padding-left: 30px; } }
  @media screen and (max-width: 700px) {
    .wrapper {
      max: 100%;
      padding: 0; } }

/**
 * Clearfix
 */
.wrapper:after {
  content: "";
  display: table;
  clear: both; }

/**
 * Icons
 */
.icon > svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle; }
  .icon > svg path {
    fill: #828282; }

/**
 * Site header
 */
.site-header {
  top: 0;
  width: 100%;
  min-height: 56px;
  background: #375a7f;
  position: fixed;
  z-index: 2000; }

.site-title {
  font-size: 26px;
  font-weight: 300;
  line-height: 56px;
  float: left;
  padding-left: 10px; }
  .site-title, .site-title:visited {
    color: #fff; }

.menu-icon {
  display: none; }
  @media screen and (max-width: 700px) {
    .menu-icon {
      position: absolute;
      top: 8px;
      right: 5px;
      display: block;
      color: #fff; } }

.site-nav {
  display: block;
  float: right;
  line-height: 56px; }
  .site-nav .page-link {
    position: relative;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    padding: 9px;
    border-radius: 4px;
    color: #fff;
    line-height: 1.5; }
    .site-nav .page-link:not(:last-child) {
      margin-right: 20px; }
    .site-nav .page-link:hover {
      -webkit-transition: all ease-in 0.1s;
      -moz-transition: all ease-in 0.1s;
      transition: all ease-in 0.1s;
      background: #1F3F61; }
      .site-nav .page-link:hover:before {
        height: 20px;
        background-color: #000; }
  @media screen and (max-width: 700px) {
    .site-nav {
      float: none;
      background-color: #375a7f; }
      .site-nav .trigger {
        clear: both;
        display: none;
        padding: 5px 10px; }
        .site-nav .trigger .page-link {
          display: block;
          text-align: center;
          margin: 0;
          border-top: 1px solid #28415b;
          border-radius: 0; } }

/**
 * Site footer
 */
.site-footer {
  text-align: center;
  padding: 30px 0;
  background: #e0e0e3; }
  @media screen and (max-width: 700px) {
    .site-footer {
      background: #fff; } }
  .site-footer .quick-link {
    width: 48px;
    position: fixed;
    bottom: 8px;
    right: 1%;
    font-size: 18px;
    z-index: 5000; }
    .site-footer .quick-link a {
      color: #375a7f; }
      .site-footer .quick-link a:hover {
        color: #4673a3; }

.nav-link {
  text-align: center; }
  .nav-link a {
    font-size: 20px;
    color: #375a7f; }

/**
 * Page content
 */
.page-content {
  background: #e0e0e3;
  padding: 90px 0 30px 0; }
  @media screen and (max-width: 700px) {
    .page-content {
      background: #fff;
      padding: 55px 0 0 0; } }

.home {
  position: relative;
  width: 710px;
  min-height: 400px;
  float: left;
  background: #fff;
  box-shadow: 0 1px 4px #999;
  outline: 1px solid #ccc;
  padding: 30px 45px; }
  @media screen and (max-width: 1200px) {
    .home {
      float: none;
      width: auto;
      padding: 30px; } }
  .home .category-title {
    color: #436e9b;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px; }

/*
** Sidebar
*/
.sidebar {
  position: relative;
  float: right;
  width: 320px; }
  @media screen and (max-width: 1200px) {
    .sidebar {
      float: none;
      width: auto; } }
  .sidebar .col {
    background: #fff;
    box-shadow: 0 1px 4px #999;
    outline: 1px solid #ccc;
    padding: 12px; }
    .sidebar .col:not(:first-child) {
      margin-top: 15px; }
    @media screen and (max-width: 1200px) {
      .sidebar .col {
        margin-top: 0 !important;
        outline: none; } }
    @media screen and (max-width: 700px) {
      .sidebar .col {
        box-shadow: none;
        margin-top: 0 !important;
        outline: none;
        border-top: 2px dotted #ccc; }
        .sidebar .col:last-child {
          border-bottom: 2px dotted #ccc; } }
    .sidebar .col .search {
      width: 100%;
      font-size: 16px;
      background-image: url("/public/image/searchicon.png");
      background-color: #fff;
      background-position: 8px 9px;
      background-repeat: no-repeat;
      border: none;
      padding: 8px 8px 8px 30px;
      box-sizing: border-box; }
    .sidebar .col .category-list {
      margin-left: 0;
      list-style: none; }
      .sidebar .col .category-list > li {
        border-top: 1px solid #e8e8e8;
        padding: 6px; }
        .sidebar .col .category-list > li:last-child {
          border-bottom: 1px solid #e8e8e8; }
    .sidebar .col .category_name {
      text-transform: capitalize; }
    .sidebar .col .category_count {
      float: right;
      _position: relative; }
    .sidebar .col .tag {
      display: inline-block;
      margin: 1.5px; }
    .sidebar .col .tag-name {
      font-size: 16px;
      color: #fff;
      background: #618dbb;
      padding: 1px 5px;
      border-radius: 5px 0 0 5px;
      margin-right: 0;
      text-transform: capitalize; }
    .sidebar .col .tag-count {
      font-size: 16px;
      background: #fff;
      padding: 1px 5px;
      border-width: 1px 1px 1px 0;
      border-style: solid;
      border-color: #111;
      border-radius: 0 5px 5px 0;
      margin-left: -5px; }
    .sidebar .col .context {
      margin: 10px 20px; }
      .sidebar .col .context li {
        list-style: none; }

.post-list {
  margin-left: 0;
  list-style: none; }
  .post-list > li {
    margin-bottom: 20px; }
    .post-list > li:not(:last-child) {
      border-bottom: 1px solid #e8e8e8;
      padding-bottom: 15px; }

.post-meta {
  font-size: 14px;
  color: #828282;
  margin-bottom: 15px; }
  .post-meta .tag-div {
    color: #fff;
    background-color: #a8c0da;
    border-radius: 4px;
    padding: 2px 6px;
    text-transform: capitalize; }
  .post-meta .category-div {
    text-transform: capitalize; }

.post-link {
  display: inline;
  font-size: 24px; }

/**
 * Posts
 */
.post {
  position: relative;
  min-height: 400px;
  background: #fff;
  box-shadow: 0 1px 4px #999;
  outline: 1px solid #ccc;
  padding: 30px 45px; }
  @media screen and (max-width: 1200px) {
    .post {
      padding: 20px; } }
  @media screen and (max-width: 700px) {
    .post {
      box-shadow: none;
      outline: none; } }

.post-header {
  margin-bottom: 30px; }

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1; }
  @media screen and (max-width: 1200px) {
    .post-title {
      font-size: 36px; } }

.post-content {
  margin-bottom: 30px; }
  .post-content h2 {
    font-size: 32px; }
    @media screen and (max-width: 1200px) {
      .post-content h2 {
        font-size: 28px; } }
  .post-content h3 {
    font-size: 26px; }
    @media screen and (max-width: 1200px) {
      .post-content h3 {
        font-size: 22px; } }
  .post-content h4 {
    font-size: 20px; }
    @media screen and (max-width: 1200px) {
      .post-content h4 {
        font-size: 18px; } }
  .post-content p {
    line-height: 27px; }

.post-nav {
  margin-bottom: 100px; }
  .post-nav .left,
  .post-nav .right {
    background: #375a7f;
    padding: 6px 10px;
    border-radius: 5px; }
  .post-nav .left {
    float: left; }
  .post-nav .right {
    float: right; }
  .post-nav .link {
    color: #eee; }
    .post-nav .link:hover {
      background: #4673a3; }
  .post-nav .unlink {
    color: #28415b; }

/**
 * Time Archive
 */
.post-time {
  border: none;
  margin: 0;
  padding: 30px 10px 10px 10px; }
  @media screen and (max-width: 700px) {
    .post-time {
      padding: 2px; } }
  .post-time tr {
    background-color: #fff !important;
    height: auto; }
    .post-time tr td {
      border: none; }

.archive-date {
  width: 20%;
  padding: 0;
  text-align: center; }
  @media screen and (max-width: 700px) {
    .archive-date {
      text-align: left; } }
  .archive-date .date-area {
    min-width: 88px; }
  .archive-date .date-month {
    color: #fff;
    background: #4673a3;
    line-height: 25px;
    padding: 10px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px; }
    @media screen and (max-width: 700px) {
      .archive-date .date-month {
        padding: 5px;
        line-height: 18px; } }
  .archive-date .date-year {
    border-color: #4673a3;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 8px;
    border-style: solid;
    border-width: 2px;
    margin-left: -5px; }
    @media screen and (max-width: 700px) {
      .archive-date .date-year {
        padding: 3px; } }

.scope {
  border-left: 2px solid #4673a3 !important; }

.scope-right {
  border-bottom: 2px solid #4673a3 !important;
  border-bottom-right-radius: 8px; }

.scope-left {
  border-bottom: 4px solid #4673a3 !important;
  border-bottom-left-radius: 8px; }

.post-date .time-line {
  margin-bottom: -10px; }
.post-date .time-info {
  color: #bbb; }

.page-nav {
  display: inline-block; }

/**
 * Syntax highlighting styles
 */
.highlight {
  background: #fff; }
  .highlighter-rouge .highlight {
    background: #eee; }
  .highlight .c {
    color: #998;
    font-style: italic; }
  .highlight .err {
    color: #a61717;
    background-color: #e3d2d2; }
  .highlight .k {
    font-weight: bold; }
  .highlight .o {
    font-weight: bold; }
  .highlight .cm {
    color: #998;
    font-style: italic; }
  .highlight .cp {
    color: #999;
    font-weight: bold; }
  .highlight .c1 {
    color: #998;
    font-style: italic; }
  .highlight .cs {
    color: #999;
    font-weight: bold;
    font-style: italic; }
  .highlight .gd {
    color: #000;
    background-color: #fdd; }
  .highlight .gd .x {
    color: #000;
    background-color: #faa; }
  .highlight .ge {
    font-style: italic; }
  .highlight .gr {
    color: #a00; }
  .highlight .gh {
    color: #999; }
  .highlight .gi {
    color: #000;
    background-color: #dfd; }
  .highlight .gi .x {
    color: #000;
    background-color: #afa; }
  .highlight .go {
    color: #888; }
  .highlight .gp {
    color: #555; }
  .highlight .gs {
    font-weight: bold; }
  .highlight .gu {
    color: #aaa; }
  .highlight .gt {
    color: #a00; }
  .highlight .kc {
    font-weight: bold; }
  .highlight .kd {
    font-weight: bold; }
  .highlight .kp {
    font-weight: bold; }
  .highlight .kr {
    font-weight: bold; }
  .highlight .kt {
    color: #458;
    font-weight: bold; }
  .highlight .m {
    color: #099; }
  .highlight .s {
    color: #d14; }
  .highlight .na {
    color: #008080; }
  .highlight .nb {
    color: #0086B3; }
  .highlight .nc {
    color: #458;
    font-weight: bold; }
  .highlight .no {
    color: #008080; }
  .highlight .ni {
    color: #800080; }
  .highlight .ne {
    color: #900;
    font-weight: bold; }
  .highlight .nf {
    color: #900;
    font-weight: bold; }
  .highlight .nn {
    color: #555; }
  .highlight .nt {
    color: #000080; }
  .highlight .nv {
    color: #008080; }
  .highlight .ow {
    font-weight: bold; }
  .highlight .w {
    color: #bbb; }
  .highlight .mf {
    color: #099; }
  .highlight .mh {
    color: #099; }
  .highlight .mi {
    color: #099; }
  .highlight .mo {
    color: #099; }
  .highlight .sb {
    color: #d14; }
  .highlight .sc {
    color: #d14; }
  .highlight .sd {
    color: #d14; }
  .highlight .s2 {
    color: #d14; }
  .highlight .se {
    color: #d14; }
  .highlight .sh {
    color: #d14; }
  .highlight .si {
    color: #d14; }
  .highlight .sx {
    color: #d14; }
  .highlight .sr {
    color: #009926; }
  .highlight .s1 {
    color: #d14; }
  .highlight .ss {
    color: #990073; }
  .highlight .bp {
    color: #999; }
  .highlight .vc {
    color: #008080; }
  .highlight .vg {
    color: #008080; }
  .highlight .vi {
    color: #008080; }
  .highlight .il {
    color: #099; }
